@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.awesome {
    font-family: Raleway, sans-serif;
    width: 1170px;
    margin: auto;
}

.awesome__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__line {
    width: 170px;
    border: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color:  #86878B;
    text-align: center;
    margin-bottom: 110px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
}

.awesome__block {
    width: 370px;
    text-align: center;
}

.awesome__item-wrapper {
    height: 92px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 80px;
}

.awesome__block-title {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 48px;
}

.tabs {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.tabs__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #ffff;
    border: none;
    width: 184px;
    height: 40px;
}

.tabs__button-group {
    display: flex;
    justify-content: space-between;
    justify-content:left;
}

.tabs__button:first-child {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffff;
    border: 1px solid #C6CBCD;
    border-bottom: #fff;
    width: 184px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    position: relative;
    bottom: -1px;
}

.tabs__content {
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
}

.tabs__content-block {
    width: 570px;
    height: 210px;
    text-align: left;
    justify-content: center;
    margin-left: 100px;
}

.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    width: 570px;
    height: 124px;
    margin-left: 100px;
    text-align: left;
}

.tabs__content-button {
    font-family: 'Open Sans', sans-serif;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color:#ffff;
    border: none;
    margin-left: 100px;
}

.tabs__content-picture {
   margin-left: auto;
}

/*.group {*/
/*    border: 1px solid #EC7979;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    height: 300px;*/
/*    width: 300px;*/
/*}*/

/*.group__item {*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    border: 2px solid blueviolet;*/

/*}*/